footer.block-10
    .block-10__contacts.lazy(data-src='img/block10_bg.jpg')
        .wrapper.block_padding-top.block_padding-lr.block-10_flex
            h2.block-10__heading Як потрапити у SpyZone?
            .footer-contacts
                h4 Простіше простого!
                .phone-wrap
                    .address.box-address
                        p м. Житомир,<br> Львівський провулок, 2
                        p м. Житомир,<br> Львівський провулок, 2
                    .phone.box-address
                        a(href='tel:+380988259717') 098 825 97 17
                        a(href='tel:+380988259717') 098 825 97 17

    .map
        <iframe class="lazy" data-src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d10203.275364793124!2d28.659013114321176!3d50.25796768135761!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x36a72e124552ab87!2z0KHRh9Cw0YHRgtC70LjQstGL0Lkg0JTQtdC90YwgKEhhcHB5IERheSk!5e0!3m2!1sru!2sua!4v1551621775572" width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen></iframe>