section.block-1.lazy(data-src='img/block1_bg.jpg')
    .wrapper.block_padding-lr
        .block-1__header
            .logo-box
                a(href='#')
                    img.logo-box__img(src='img/logo.png' alt='SpyZone')
            .contacts
                .address
                    p м. Житомир, Львівський провулок, 2
                .phone
                    a(href='tel:+380988259717') 098 825 97 17
        .block-1__content
            h1.heading Организація дитячих свят <br>
                span у місті Житомирі
            p.heading-subtext Свято мрії для дітей від 3х до 18 років <br>від  професійної команди акторів-аніматорів <br>у Житомирі
            button.main-btn.btn_style_1 Замовити
