.offer
    .wrapper.block_padding-top.block_padding-lr.block_relative
        h2.offer__heading У нас все готово для святкування!
        #offer-slider.offer__slider.owl-carousel
            .offer__item-wrap
                .offer__item.offer__item-1
                    .off-head
                        h3 Супер просто
                        p пропозиція буденного дня з понеділка по четвер
                    p.off-text Тривалість 3 години 1 Актор або Ведучий <br>
                        |60 хв <br>
                        |Маленьке бульбашкове <br>
                        |шоу - 30 хв<br>
                        |або <br>
                        |Поролонове шоу (скорочене)- 30 хв <br>
                        |Just Dance шоу<br>
                        |Консольне безумство

                    button.main-btn.btn_style_2.buttom-btn Замовити

            .offer__item-wrap
                .offer__item.offer__item-2
                    .off-head
                        h3 Супер просто
                        p пропозиція буденного дня з понеділка по четвер
                    p.off-text Тривалість 3 години 1 Актор або Ведучий <br>
                        | 60 хв <br>
                        | Маленьке бульбашкове <br>
                        | шоу - 30 хв<br>
                        | або <br>
                        | Поролонове шоу (скорочене)- 30 хв <br>
                        | Just Dance шоу<br>
                        | Консольне безумство

                    button.main-btn.btn_style_2.buttom-btn Замовити

            .offer__item-wrap
                .offer__item.offer__item-3
                    .off-head
                        h3 Супер просто
                        p пропозиція буденного дня з понеділка по четвер
                    p.off-text Тривалість 3 години 1 Актор або Ведучий <br>
                        | 60 хв <br>
                        | Маленьке бульбашкове <br>
                        | шоу - 30 хв<br>
                        | або <br>
                        | Поролонове шоу (скорочене)- 30 хв <br>
                        | Just Dance шоу<br>
                        | Консольне безумство

                    button.main-btn.btn_style_2.buttom-btn Замовити

            .offer__item.offer__item-4
                .off-head
                    h3 Супер просто
                    p пропозиція буденного дня з понеділка по четвер
                p.off-text Тривалість 3 години 1 Актор або Ведучий <br>
                    | 60 хв <br>
                    | Маленьке бульбашкове <br>
                    | шоу - 30 хв<br>
                    | або <br>
                    | Поролонове шоу (скорочене)- 30 хв <br>
                    | Just Dance шоу<br>
                    | Консольне безумство

                button.main-btn.btn_style_2.buttom-btn Замовити

            .offer__item.offer__item-5
                .off-head
                    h3 Супер просто
                    p пропозиція буденного дня з понеділка по четвер
                p.off-text Тривалість 3 години 1 Актор або Ведучий <br>
                    | 60 хв <br>
                    | Маленьке бульбашкове <br>
                    | шоу - 30 хв<br>
                    | або <br>
                    | Поролонове шоу (скорочене)- 30 хв <br>
                    | Just Dance шоу<br>
                    | Консольне безумство
                p.off-text Звичайна ціна:<br>
                    |<span class="old-price">4000 грн</span><br>
                    |Ціна зі знижкою ~25%<br>
                    |<span class="new-price">3000 грн</span>

                button.main-btn.btn_style_2.buttom-btn Замовити
        #slider-navs
            .arrow-left
            .arrow-right

