section.block-3
    .wrapper
        .block-3__content
            .block-3__form.block_padding-top
                h2.block-3__heading Безкоштовна аренда<br>
                span майданчика<br> на ваше свято!
                form#form_bl3.form-bl3(method='POST')
                    p
                        input#name.form-bl3__input(type='text' name='name' form='form_bl3' placeholder="Ваше ім'я" required)
                    p
                        input#phone.form-bl3__input(type="tel" name='phone' form='form_bl3' placeholder="Ваш номер телефону" required)
                p.form-subtext Залиште заявку прямо зараз та проведіть ваше<br> <strong>свято на майданчику безкоштовно!</strong>
                button#form-btn.submit-btn.btn_style_2(type='submit' form='form_bl3') Замовити