section.block-9
    .wrapper.block_padding-lr.block_relative
        #promo-slider.promo-slider.owl-carousel

            .promo-slider__item.promo-slider__item-1
                a(href='#')
                    img(src='img/img_block_9/block_9.png' alt='promo')

            .promo-slider__item.promo-slider__item-2
                a(href='#')
                    img(src='img/img_block_9/block_9.png' alt='promo')

            .promo-slider__item.p.romo-slider__item-3
                a(href='#')
                    img(src='img/img_block_9/block_9.png' alt='promo')

        #promo-navs
            .promo-left
            .promo-right