section.block-6.lazy(data-src='img/img_block_6/block6_bg.jpg')
    .wrapper
        .block-6__content

            .block-6__item-img
                img.lazy(data-src='img/img_block_6/block-6_img.png' alt='Для дітей від 8 до 11 років')

            .block-6__item-text.block_padding-lr
                h3.block-6__item-heading.text_right Для дітей від 8 до 11 років
                p.text_left Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium
                button.main-btn.btn_style_1.buttom-btn Замовити
