section.block-4.lazy(data-src='img/img_block_4/block4_bg.jpg')
    .wrapper.block_padding-top.block_padding-lr
        h2.block-4__heading Spy Zone<span> - це...</span>
        .block-4__content
            .block-4__item-1.block-4__item_size
                .block-4__item-img
                    img.lazy(data-src='img/img_block_4/block-4__item-1.png' alt='свята під ключ')
                .block-4__item-text
                    h3.block-4__item-heading Ми робимо <strong>свята під ключ:</strong>
                    ul
                        li Просто прийди і відпочивай, ми за тебе про все подбали!

                        li У нас прийнятні ціни (ідеальне поєднання ціна = якість).
                        li Професійні аніматори які люблять дітей та з великим досвідом роботи!

            .block-4__item-2.block-4__item_size
                .block-4__item-text
                    h3.block-4__item-heading.text_right Власний штат <strong>аніматорів-акторів.</strong>
                    p.text_right Аніматори - це фахівці. Наші актори-аніматори проходять тренінги, вивчають психологію і навчаються новим іграм. Вони легко знаходять контакт з дітьми, здатні граючи вгамувати пустуна і захопити навіть дуже сором'язливу дитину. У нас тільки добрі й веселі аніматори. Для них радість дітей - це покликання, а не просто робота.
                .block-4__item-img
                    img.lazy(data-src='img/img_block_4/block-4__item-2.png' alt='Аніматори')

            .block-4__item-3.block-4__item_size
                .block-4__item-img
                    img.lazy(data-src='img/img_block_4/block-4__item-3.png' alt='сценарії та шоу-програми')
                .block-4__item-text
                    h3.block-4__item-heading Авторські <strong>сценарії та шоу-програми.</strong>
                    p Ми з натхненням захоплюїмось тим, що люблять діти зараз. Один з наших секретів в тому, що ми йдемо в ногу з часом і намагаємося пропонувати гостю якомога більше новинок.

            .block-4__item-4.block-4__item_size
                .block-4__item-text
                    h3.block-4__item-heading.text_right У програму вже <strong>все включенно.</strong>
                    p.text_right Ми робимо наші програми максимально насиченими. Який би сценарій ви не замовили, ми вже включили в нього хімічні експеременти, шоу мильних бульбашок, майстер-класи, аквагрим, піньяту і, звичайно ж, подарунки для кожної дитини. <br><b>І все це ... безкоштовно!</b>
                .block-4__item-img
                    img.lazy(data-src='img/img_block_4/block-4__item-4.png' alt='все включенно')

            .block-4__item-5.block-4__item_size
                .block-4__item-img
                    img.lazy(data-src='img/img_block_4/block-4__item-5.png' alt='Гарантія безпеки здоровья')
                .block-4__item-text
                    h3.block-4__item-heading Працюїмо офіційно та відкрито. <br><strong>Гарантія безпеки здоровья.</strong>
                    p Ми ставимося до здоров'я дітей з не меншим сумлінно, ніж їхні батьки. Наші аніматори своєчасного проходять обстеження і мають медичні книжки. І само собою, вони знають техніку безпеки.

            .block-4__item-6.block-4__item_size
                .block-4__item-text
                    h3.block-4__item-heading.text_right Ексклюзивний <strong>тематичний реквізіт.</strong>
                    p.text_right Ми не тільки самі робимо костюми, але і винаходимо реквізит. Це робить наші програми неповторними та ексклюзивними, і в той же час дозволяє не повторюватися нам самим.
                .block-4__item-img
                    img.lazy(data-src='img/img_block_4/block-4__item-6.png' alt='тематичний реквізіт')

            .block-4__item-7.block-4__item_size
                .block-4__item-img
                    img.lazy(data-src='img/img_block_4/block-4__item-7.png' alt='костюми')
                .block-4__item-text
                    h3.block-4__item-heading Всі <strong>костюми </strong>в ідеальному стані.
                    p Для дитини немає різниці між вигадкою та реальністю. В акторів він бачить своїх героїв, діти вірять в казку. Незграбний костюм може не просто розчарувати, але і похитнути віру в чудо. Ми прагнемо до того, щоб аніматори виглядали правдоподібно і ефектно. Їх гардероб шиють майстри на замовлення. А костюмер стежить, щоб одяг був в повному порядку.


