.service
    .wrapper.block_padding-top.block_padding-lr.block_relative
        h2.service__heading Наші послуги
        #service-slider.service__slider.owl-carousel

            .service__item.service__item-1
                .serv-img
                    img.lazy(data-src='img/img_block_8/service_1.jpg' alt='відеоігри')
                p творча зона

            .service__item.service__item-2
                .serv-img
                    img.lazy(data-src='img/img_block_8/service_2.jpg' alt='паперове шоу')
                p паперове шоу

            .service__item.service__item-3
                .serv-img
                    img.lazy(data-src='img/img_block_8/service_3.jpg' alt='творча зона')
                p відеоігри
        #service-navs
            .service-left
            .service-right
