section.block-2.lazy(data-src='img/img_block_2/block2_bg.jpg')
    .wrapper.block_padding-top
        h2.block-2__heading Чому лише у нас?
        .block-2__content
            .block-2__item-1
                img.lazy(data-src='img/img_block_2/block-2__logo-1.png' alt='SpyZone')
                p.block-2__p У нас окремо <br>банкетній зал і розваги, <br>і вони тільки <br>для Вашого свята <br>і компанії
            .block-2__item-2
                img.lazy(data-src='img/img_block_2/block-2__logo-2.png' alt='SpyZone')
                p.block-2__p Для нас не важлива кількість, для нас найважнивіша <br>якість
            .block-2__item-3
                img.lazy(data-src='img/img_block_2/block-2__logo-3.png' alt='SpyZone')
                p.block-2__p Тільки у нас, <br>кожні 2 тижні прем'ера нової програми
            .block-2__item-4
                img.lazy(data-src='img/img_block_2/block-2__logo-4.png' alt='SpyZone')
                p.block-2__p Самий <br>великий вибір актуальних шоу
            .block-2__item-5
                img.lazy(data-src='img/img_block_2/block-2__logo-5.png' alt='SpyZone')
                p.block-2__p Кількість образів <br>- більше <br>120ти


