extends ./extends/layout
block variables
	- var title = "Spy Zone"

block content
	main.container
		include ./includes/pop_up
		include ./includes/section_1
		include ./includes/section_2
		include ./includes/section_3
		include ./includes/section_4
		include ./includes/section_5
		include ./includes/section_6
		include ./includes/section_7
		include ./includes/section_8
		include ./includes/section_9
		include ./includes/footer

